# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!alacritty
!htop
!lf
!shell
!zsh
!sxiv
!paru
!wget
!X11
!wall
!zathura
!nano
!nvim
!picom
!bat
!emacs
!dunst
!gtk-2.0
!gtk-3.0
!fontconfig
!emacs
!tmux
!mimeapps.list
!bat
!lynx
!pipewire
!pinentry
!pulse
!yt-dlp
!mpv
!newsboat
